digraph g {
graph [
rankdir = "LR",
concentrate = true,
ratio = auto
];
node [
fontsize = "10",
shape = record
];
edge [
];
<TMPL_LOOP name="schemas"><TMPL_LOOP name="tables">
<TMPL_VAR name="table"> [shape = record, label = "<col0> \N <TMPL_LOOP name="columns"> | <col<TMPL_VAR name="column_number">> <TMPL_VAR name="column">:  <TMPL_VAR name="column_type">\l </TMPL_LOOP name="columns"> " ];
</TMPL_LOOP name="tables"></TMPL_LOOP name="schemas">
<TMPL_LOOP name="fk_links">
<TMPL_VAR name="handle0_name">:col<TMPL_VAR name="handle0_connection"> -> <TMPL_VAR name="handle1_name">:col<TMPL_VAR name="handle1_connection"> [label="<TMPL_VAR name="fk_link_name_dot">"];</TMPL_LOOP name="fk_links">
}
